/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  background: linear-gradient(135deg, #003366 0%, #0055a5 100%);
  color: white;
  padding: 3rem 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.features {
  padding: 3rem 0;
}

.featureImage {
  height: 120px;
  margin-bottom: 1rem;
}

.courseSection {
  background-color: #f9f9f9;
  padding: 4rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.courseImage {
  max-width: 100%;
  height: auto;
}


.customButton {
  background-color: #FDFDFD; /* blanco cálido */
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.customButton:hover {
  background-color: #F0F0F0; /* gris muy claro */
  color: #1a1a1a; /* mantener texto oscuro */
}